.login__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login__form {
  width: 300px;
  height: 350px;
  padding: 20px;
  border: solid grey 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.login__form__title {
  font-size: 25px;
}