

.main-header {
  position: relative;
  width: 100%;
  padding: 10px;
  padding: 5px 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: var(--background-dark);
}

.logo-header {
  width: 20%;
  height: 100%;
}

.main-header, .main-header #logout {
  color: whitesmoke
}

.main-header .user {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-weight: bold;
}



.main-header .user .back {
  display: none;
  align-self: flex-end;
}

.profile-picture {
  width: 40px;
  border-radius: 50%;
}

#search, #logout {
  height: 50%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

#search::placeholder {
  padding: 5px;
}

.hamburguer {
  position: absolute;
  right: 50px;
  top: 40px;
  width: 30px;
  height: 20px;
  display: none;
}

.hamburguer div {
  width: 100%;
  height: 2px;
  background-color: var(--background-light);
}

#addNewBoard {
  margin: 110px 0 15px 50px;
  padding: 5px 10px;
}

#logout {
  background-color: transparent;
  margin-left: 10px;
}

#logout:hover {
  text-decoration: underline;
}

.kanban-drag, #dTrello {
  scroll-behavior: smooth;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loading {
  width: 100px;
  height: 100px;
  border-top: var(--background-light) solid 10px;
  border-bottom: var(--background-light) solid 10px;
  border-right: transparent solid 10px;
  border-left: transparent solid 10px;
  border-radius: 50%;
  margin: auto;
  margin-top: 100px;
  animation: 1s loading infinite linear;
}

.nodata-warning {
  padding: 30px;
  margin-top: 100px;
}

.kanban-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  column-gap: 15px;
}

.kanban-container * {
  box-sizing: border-box;
}

.kanban-container:after {
  clear: both;
  display: block;
  content: "";
}

.kanban-drag {
  overflow-y: scroll;
}

.board-wrapper {
  width: 300px;
}

.kanban-board {
  position: relative;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  background-color: #f3e4d2;
}

.board {
  position: relative;
  float: left;
  background: #e2e4e6;
}

.kanban-board.disabled-board {
  opacity: 0.3;
}

.kanban-board.is-moving.gu-mirror {
  transform: rotate(3deg);
}

.kanban-board.is-moving.gu-mirror .kanban-drag {
  overflow: hidden;
  padding-right: 50px;
}

.kanban-board header {
  font-size: 16px;
  padding: 15px;
}

.kanban-board header .kanban-title-board, .kanban-board header input {
  outline: none;
  border: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: inline;
}

.kanban-board header input, .title-edit-input {
  width: 80%;
  display: none;
}

.kanban-board header .kanban-title-button {
  float: right;
}

.kanban-board header .kanban-title-board {
  display: flex;
  justify-content: space-between;
}

.kanban-title-board .ph-trash-fill {
  margin-left: 5px;
}

.ph-pencil-fill, .ph-trash-fill {
  cursor: pointer;
}

.ph-pencil-fill {
  margin-right: 3px;
}

.kanban-board .kanban-drag {
  min-height: 200px;
  padding: 20px;
}

.kanban-board:after {
  clear: both;
  display: block;
  content: "";
}

.kanban-item {
  background: #fff;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 14px;
  word-break: break-word;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px var(--dark-smooth) solid;
  display: flex;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  animation: append-animate 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.title-edit-delete-wrapper {
  width: 100%;
  display: flex;  
  justify-content: space-between;
  column-gap: 5px;
}

.icons-wrapper {
  display: flex;  
  column-gap: 3px;
} 


.form-group button {
  border: 1px solid var(--dark-smooth);
  font-size: 12px;
  margin-right: 10px;
  padding: 3px 5px;
}



@keyframes append-animate {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}

.kanban-item:hover {
  cursor: move;
}

.kanban-item:last-child {
  margin: 0;
}

.kanban-item.is-moving.gu-mirror {
  transform: rotate(3deg);
  height: auto !important;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2 !important;
  transform: rotate(0deg) !important;
}

.drag_handler {
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
    margin-right: 10px;
    display: flex;
}

.drag_handler:hover {
  cursor: move;
}

.drag_handler_icon {
    position: relative;
    display: block;
    background: #000;
    width: 20px;
    height: 1px;
    align-self: center;
    transition: .5s ease-in-out;
}

.drag_handler_icon:before,
.drag_handler_icon:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    transition: .5s ease-in-out;
}

 .drag_handler_icon:before {
    top: 6px;
}

.drag_handler_icon:after {
    bottom: 6px;
}

body {
  font-family: "Ubuntu";
  color: var(--dark);
  margin: 0;
  background-color: var(--dark-smooth);
}

#dTrello {
  overflow-x: auto;
  padding: 10px 40px 0 50px;
  min-height: 90vh;
}

.kanban-board-header {
   background-color: grey;
}

.success {
  background: #00b961;
}

.info {
  background: #2a92bf;
}

.warning {
  background: #f4ce46;
}

.error {
  background: #fb7d44;
}

.custom-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 15px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} 

.invisible {
  display: none;
}

/* Modals */

.confirm-delete {
  background-color: var(--highlight);
}

.cancel-button {
  background-color: var(--background-dark);
}

.agreement {
  background-color: var(--success);
}

@media (max-width: 699px) {
  .main-header {
    flex-direction: column;
    row-gap: 20px;
    padding: 15px;
  }

  .logo-header {
    width: 30%;
  }

  #search {
    width: 30%;
  }

  .input-hamburguer-wrapper {
    display: flex;
    border: red solid;
  }

  .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .user {
    position: fixed;
    width: 200px;
    height:100vh;
    padding: 20px;
    top: 0;
    right: -200px;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--background-dark);
    transition: 0.5s;
    border: red solid;
  }

  .menu-mobile-show {
    right: 0;
  }

  .main-header .user .back {
    display: block;
  }

  .user .profile-picture {
    width: 50px;
    height: 50px;
    order: 1;
    margin-top: 50px;
  }
  .user .user-name {
    order: 2;
  }

  #logout {
    height: auto;
    margin-left: 0;
    order: 3;
  }

  #addNewBoard {
    margin-top: 150px;
  }
}


