.kanban-drag, #dTrello {
  scroll-behavior: smooth;
}

.kanban-container {
  position: relative;
  box-sizing: border-box;
  width: auto;
  display: flex;
}

.kanban-container * {
  box-sizing: border-box;
}

.kanban-container:after {
  clear: both;
  display: block;
  content: "";
}

.kanban-drag {
  overflow-y: scroll;
}

.board-wrapper {
  width: 100%;
}

.kanban-board {
  position: relative;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  height: auto;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  background-color: #f3e4d2;
}

.board {
  position: relative;
  float: left;
  background: #e2e4e6;
}

.kanban-board.disabled-board {
  opacity: 0.3;
}

.kanban-board.is-moving.gu-mirror {
  transform: rotate(3deg);
}

.kanban-board.is-moving.gu-mirror .kanban-drag {
  overflow: hidden;
  padding-right: 50px;
}

.kanban-board header {
  font-size: 16px;
  padding: 15px;
}

.kanban-board header .kanban-title-board, .kanban-board header input {
  outline: none;
  border: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: inline;
}


.kanban-board header input, .title-edit-input {
  width: 80%;
  display: none;
}

.kanban-board header .kanban-title-button {
  float: right;
}

.ph-pencil-fill, .ph-trash-fill {
  float: right;
}

.kanban-board .kanban-drag {
  min-height: 200px;
  padding: 20px;
}

.kanban-board:after {
  clear: both;
  display: block;
  content: "";
}

.kanban-item {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  animation: append-animate 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes append-animate {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}

.kanban-item:hover {
  cursor: move;
}

.kanban-item:last-child {
  margin: 0;
}

.kanban-item.is-moving.gu-mirror {
  transform: rotate(3deg);
  height: auto !important;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2 !important;
  transform: rotate(0deg) !important;
}

.drag_handler {
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    float: left;
    top: -3px;
    margin-right: 4px;
}

.drag_handler:hover {
  cursor: move;
}

.drag_handler_icon {
    position: relative;
    display: block;
    background: #000;
    width: 24px;
    height: 2px;
    top: 12px;
    transition: .5s ease-in-out;
}

.drag_handler_icon:before,
.drag_handler_icon:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

 .drag_handler_icon:before {
    top: 6px;
}

.drag_handler_icon:after {
    bottom: 6px;
}

body {
  font-family: "Lato";
  margin: 0;
  padding: 20px 0 0 40px;
  background-color: #133c40;
}

#dTrello {
  overflow-x: auto;
  padding: 20px 0;
  min-height: 90vh;
}

.kanban-board-header {
   background-color: grey;
}

.success {
  background: #00b961;
}

.info {
  background: #2a92bf;
}

.warning {
  background: #f4ce46;
}

.error {
  background: #fb7d44;
}

.custom-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} 

.invisible {
  display: none;
}
